%header.page-header.group
  %h1
    = @action
    client details

= form_for @client, html: { class: 'form' } do |f|
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :address
    = f.text_area :address
  %p
    = f.label :telephone
    = f.text_field :telephone
  = f.submit (@action[/Confirm/] ? 'Continue' : 'Update'), class: 'button'
